/* top player style  */
body{
    font-family: 'Poppins', sans-serif; 
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 13px;
}
.player img{
    width: 56px;
    height: 52px;
}
.player_name{
    padding-left: 16px;
}
.top-players{
    padding-top: 33px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 43px;
    background-color: #fff;
    height: 679px;
    width: 870px;
    border-radius: 5px;

}
.player{
    display: flex;
    align-items: center;
}
.player_title{
    color: rgb(112, 41, 192);
    font-size: 32px;
}
hr{
    margin-top: 33px;
    padding-right: 33px;
}

/* top blog */
.top_blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.blog_wrapper{
    display: flex;
}
.blog_image{
    height: 117px;
    width: 177px;
    border-radius: [object Object]px;

    padding-right: 13px;
}
.title_with_name{
    height: 68px;
    width: 163px;
    border-radius: nullpx;
}
.pt{
    font-size: 19px;

}
